/* --  start DialogsItem -- */
.dialog {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 10px;
    height: 50px;
    transition: color 0.2s, background-color 0.2s;
}

.dialog:hover {
    background-color: var(--accent-color-red);
    color: #fff;
}

.dialog.active {
    background-color: var(--aside-bg);
    color: var(--accent-color);
    font-weight: 600;
}
/* --  end DialogsItem -- */