/* --  start aside -- */
.aside {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    background-color: var(--aside-bg);
	grid-area: aside;
}
@media screen and (max-width:575px) {
    .aside {
        width: 40px;
    }
}
/* --  end aside -- */