/* --  start post -- */
.post {
    padding-bottom: 20px;
}
.postInfo {
    display: flex;
    gap: 20px;
    padding: 10px 0 35px;
}
.postInfoText {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-right: 15px;
    width: 100%;
}
.postInfoField {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #e0e0e0;
    word-break: break-all;
}
.postInfoField > span {
    display: inline-flex;
    min-width: 100px;
    width: 100px;
    font-weight: 600;
}
.postInfoName {
    margin-bottom: 20px;
    font-size: 1.4em;
}
.postInfoAvatar {
    width: 150px;
}
.postFormBlock {
    padding: 0 10px 0 0;
    border-style: none;
}
.postFormBlock legend {
    font-size: 1.4em;
}
.postFormBlock textarea {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background-color: #ddd;
}
.postFormSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 8px;
    max-width: 100px;
    width: 100%;
    line-height: 1;
    color: #fff;
    background-color: var(--aside-bg);
    cursor: pointer;
}

.postComment {
    display: flex;
    gap: 20px;
}
.postComment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.postComment > div {

}
.postComment p + p {
    margin-top: 10px;
}
@media screen and (max-width:575px) {
    .postImg {
        margin: 0 -15px;
    }
    .postInfo {
        flex-direction: column;
    }
    .postFormBlock {
        padding: 0;
    }
}
/* --  end post -- */
