/* --  start page structure -- */
.page-wrapper {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	grid-template-areas:
    "header header"
    "aside  main"
    "footer footer";
	max-width: 1000px;
	margin: 0 auto;
}
.main {
	height: 80vh;
	background-color: var(--light-bg);
	grid-area: main;
}
/* --  end page structure -- */

@media screen and (max-width:575px) {
	.page-wrapper {
		grid-template-columns: 1fr;
	}
	.main {
		padding: 0 10px;
	}
}