/* --  start Dialogs -- */
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems li:nth-child(even) {
    background-color: #ddd;
}

.dialog {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 10px;
    height: 50px;
    transition: color 0.2s, background-color 0.2s;
}

.dialog.active {
    color: var(--accent-color-red);
    font-weight: 600;
}

.dialog:hover {
    background-color: var(--accent-color-red);
    color: #fff;
}

.messages {
    padding: 10px;
}

.message {

}
/* --  end Dialogs -- */